<md-card>
  <md-card-title>
    {{ movie.title }}
  </md-card-title>
  <md-card-subtitle>
    {{ movie.release_date | date }}
  </md-card-subtitle>
  <img md-card-image src="{{ movie.poster_path }}">
  <md-card-content>
    <app-movie-genres [genres]="movie.genres"></app-movie-genres>
    <p>
      {{ movie.overview }}
    </p>
    <app-movie-rating [rating]="movie.vote_average"></app-movie-rating>
  </md-card-content>
  <md-card-actions>
    <button (click)="goToMovie(movie._id)"
            md-button>Details
    </button>
    <button md-button>Rate</button>
  </md-card-actions>
</md-card>
